@model IEnumerable<waSemana12.Producto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nompro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prepro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stkpro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fvcpro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria.nomcat)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nompro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prepro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stkpro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fvcpro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.nomcat)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idpro }) |
            @Html.ActionLink("Details", "Details", new { id=item.idpro }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idpro })
        </td>
    </tr>
}

</table>
